.skeleton.skeleton {
  width: 135px;
  height: 249px;
}

@media (max-width: 960px) {
  .skeleton.skeleton {
    width: 115px;
    height: 221px;
  }
}

@media (max-width: 480px) {
  .skeleton.skeleton {
    width: 95px;
    height: 200px;
  }
}