.sceleton.sceleton {
  width: 135px;
  height: 249px;
}

@media (max-width: 768px) {
  .sceleton.sceleton {
    width: 115px;
    height: 221px;
  }
}

@media (max-width: 480px) {
  .sceleton.sceleton {
    width: 95px;
    height: 200px;
  }
}