:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --error-color: rgb(223, 13, 17);
  --error-textColor: rgb(250, 250, 250);
  --rating-color: rgb(207, 240, 23);

  --shadow-color-hover: rgba(0, 0, 0, 0.3);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
